einops
mlflow
opencv-python
pytorch-lightning==1.4.0
-f https://download.pytorch.org/whl/torch_stable.html
torch
-f https://download.pytorch.org/whl/cu113
torchvision
-f https://download.pytorch.org/whl/cu113
tqdm
yacs
